# Mac system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor/IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
